.main-page {
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
}

.main-page__profile {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.main-page__profile-userName {
	font-weight: bold;
}

.main-page__profile-info {
	display: flex;
	flex-direction: row;
}

.main-page__profile-add {
	width: 70px;
	height: 70px;
	margin-right: 20px;
	transition: all 0.3s ease-in-out 0s;
	transform: rotate(0deg);
}

.main-page__profile-add:hover {
	transform: rotate(90deg);
}

.main-page__notes {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-right: 20px;
}
