/** @format */
.app {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 40px;
	height: 40px;
	margin: 5px;
}

.small-icon {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.small-icon:hover {
	background-color: rgb(194, 194, 194);
}
