.note {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.note__fields-box {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.note-title {
	width: 100%;
	height: 70px;
	align-items: left;
	font-weight: bold;
	font-size: 18px;
}

.note-text {
	width: 100%;
	height: 300px;
	margin-top: 5px;
	align-items: left;
}

.note__submit-button {
	width: 100%;
	height: 50px;
	background-color: rgb(101, 255, 134);
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}
