/** @format */

.login {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(/background.png);
	background-repeat: repeat;
	background-size: contain;
}

.login-form {
	padding: 30px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

.login__form-header {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: black;
	margin-bottom: -40px;
	z-index: 10;
}

.login-splitter {
	width: 100%;
	height: 1px;
	background-color: gray;
}

.login-button {
	height: 30px;
	width: 100%;
	background-color: #4fc4f4;
	margin-top: 20;
	border-radius: 12px;
	border: none;
}
