/** @format */

.input-row {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	justify-content: center;
	align-items: center;
}

.input-col {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.input-col:last-child {
	margin-top: 25px;
}

.input-title {
	height: 50%;
	width: 130px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
}

.input-title__row {
	width: 100px;
	justify-content: center;
}

.input__text-area {
	height: 25px;
	width: 150px;
	display: flex;
	margin-top: 5px;
	flex-direction: row;
	text-align: left;
	align-items: center;
	background-color: white;
	overflow-y: auto;
	border-radius: 10px;
	direction: ltr;
	border: solid 1px #818181;
	padding: 0 5px;
	outline: none;
}
