.note-item {
	width: 200px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 30px;
	background-color: #e7e7e7;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.note-item__info {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.note-item__info-date {
	font-size: 12px;
	color: gray;
}

.note-item__content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.note-item__content-titleBox {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.note-item__content-titleBox-label {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: red;
}

.note-item__content-titleBox-title {
	margin-left: 10px;
	font-weight: bold;
}

.note-item__content-text {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid gray;
}

.note-item__buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
}
